
<!--===============================================-->
<!--================ Main Area ====================-->
<div class="back-area">

    <!--============================================-->
    <!--================ Header ====================-->
    <h2 align="center">Mexspace</h2>
    <p  align="center">Welcome to our</p>
    <h1 align="center">Ground Station</h1>
    <!--============================================-->

    <!--==========================================-->
    <!--================ Menu ====================-->
    <div class="options">
      <a class="square-button">
        Flight Monitor
      </a>
      <a class="square-button" routerLink="/general-menu/graph">
        Graph Data
      </a>
      <a class="square-button">
        Save Data
      </a>
      <a class="square-button" routerLink="/general-menu/tests">
        Tests
      </a>
    </div>
    <!--==========================================-->

</div>
<!--===============================================-->